.button {
  box-sizing: border-box;
  transition: all 0.3s ease;
  outline: none;
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  padding: 11px 12px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.0075em;
  border-radius: 4px;
  background-color: transparent;
  color: #2264D1;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  cursor: pointer;
}

.button:focus {
  border: 1px solid #9DC2FF;
  box-shadow: none;
}

.button:hover {
  color: #557bb8;
}
.card {
  width: 259px;
  height: 472px;
  padding: 16px 16px 12px;
}

.card__description {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
}

.card__price {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.87);
}

.card__info {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #787885;
}

.card__link {
  text-decoration: none;
  color: #19191d;
}

.card__link:hover {
  color: #2979FF;
}

.card__watch-button {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #2264d1;
  padding-left: 31px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
}

.card__button-icon {
  position: absolute;
  left: 11px;
  top: 8px;
  fill: #2264d1;
}

.card__rating-wrapper {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.categories {
  width: 355px;
  padding-left: 40px;
  font-family: "Inter";
}

.categories__list {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  list-style: none;
}

.categories__link {
  cursor: pointer;
  text-decoration: none;
  color: #19191D;
}

.categories__name {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #19191D;
  letter-spacing: 0.0275em;
  padding-top: 5px;
}

.categories__name--with-description {
  min-height: 50px;
}

.categories__name--with-description .caret {
  top: 25px;
}

.categories__name--title {
  font-weight: 500;
}

.categories__description {
  position: absolute;
  left: 0;
  top: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 143%;
  color: #787885;
}

.categories__showmore-button {
  margin-top: 5px;
  padding: 12px 12px 12px 12px;
  cursor: pointer;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  outline: none;
  border: none;
  color: #2264D1;
  background: #EBF2FF;
  border-radius: 4px;
}

.categories__showmore-button:hover {
  background: #cad6ee;
}

.categories__showmore-button--caret {
  padding: 12px 48px 12px 12px;
}

.categories__showmore-button--caret::after {
  position: absolute;
  content: "";
  right: 25px;
  width: 12px;
  height: 9px;
  top: 17px;
  right: 20px;
  font-size: 20px;
  background-image: url("./../img/icons/icons.svg#caretGrey");
  background-repeat: no-repeat;
  background-size: fit;
}
.condition-list {
  width: 432px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.condition-list__info {
  position: absolute;
  left: 12px;
  top: -9px;
  padding-left: 2px;
  padding-right: 3px;
  z-index: 2;
  background-color: #fff;
  color: #787885;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 5px) 100%, 0 100%, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 5px) 100%, 0 100%, 0 0);
}

.condition-list__field {
  display: inline-block;
  position: relative;
  padding: 1px 6px 1px 1px;
  border: 1px solid #5A5B6A;
  border-radius: 4px;
}

.condition-list__field select {
  color: #787885;
}

.condition-list__field:hover select {
  color: #19191D;
}

.condition-list__field:hover {
  border: 1px solid #19191D;
}

.condition-list__field--usability {
  width: 136px;
}

.condition-list__field--quality {
  width: 112px;
}

.condition-list__field--delivery {
  width: 152px;
}

.condition-list__field .condition-list__menu-use {
  color: #787885;
}

.condition-list__field:hover .condition-list__menu-use {
  color: #19191D;
}

.condition-list__field::after {
  font-size: 10px;
  -webkit-transform: scaleX(1.6);
          transform: scaleX(1.6);
  position: absolute;
  content: "\25BC";
  color: #787885;
  right: 15px;
  top: 12px;
}

.condition-list__field:hover.condition-list__field::after {
  color: #19191D;
}

.condition-list__menu {
  position: relative;
  z-index: 2;
  background-color: transparent;
  padding: 6px 30px 6px 11px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}
.departments {
  width: 355px;
  padding-top: 24px;
}

.departments__button {
  width: 304px;
  position: relative;
}

.departments__button--icon {
  position: absolute;
  left: 19px;
  top: 21px;
  fill: #2264D1;
}

.departments__button:hover .departments__button--icon {
  fill: #557bb8;
}

.departments__button:focus .departments__button--icon {
  fill: #9DC2FF;
}

.departments__categories {
  margin-top: 40px;
}
.filters {
  margin-top: 36px;
}

.filters__field {
  width: 304px;
  margin-top: 24px;
}

.filters__name {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  padding: 6px 60px 10px 8px;
  border: none;
  outline: none;
  background-color: #f7f7fa;
  color: #19191D;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
}

.filters__caret.caret {
  left: 270px;
  background-image: url("./../img/icons/icons.svg#caretGrey");
}

.filters__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 8px;
  background-color: #f7f7fa;
  border-radius: 4px;
}

.filters__item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.filters__checkbox {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border: 2px solid #4A4B57;
  left: 19px;
  top: 2px;
  border-radius: 4px;
}

.filters__list:last-child {
  margin-bottom: 0;
}

.filters__field--collapsed .filters__name {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 4px;
}

.filters__field--collapsed .filters__caret {
  background-image: url("./../img/icons/icons.svg#caret");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filters__field--collapsed .filters__list {
  display: none;
}

.filters__item input[type='checkbox']:checked +
.filters__checkbox::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 2px;
  left: 0px;
  top: 8px;
  background-color: #000;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
}

.filters__item input[type='checkbox']:checked +
.filters__checkbox::after {
  position: absolute;
  content: "";
  width: 11px;
  height: 2px;
  left: 4px;
  top: 7px;
  background-color: #000;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  background-color: #000;
}

.filters:last-child {
  margin-bottom: 0;
}
.goods {
  width: 1114px;
  margin-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.goods__row-wrapper {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.goods__show-options {
  width: 416px;
}
.header {
  width: 1920px;
  height: 68px;
  margin: 0 auto;
  padding: 0 16px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: baseline;
          align-items: baseline;
}

.header__logo {
  width: 174px;
}

.header__nav {
  width: 1732px;
  margin-left: 42px;
}
.logo {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}

.logo__image-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(90deg, #2979FF 0%, #4C589E 100%);
}

.logo__image {
  margin-top: 8px;
}

.logo__text {
  font-family: "Red Hat Display";
  font-size: 36px;
  line-height: 36px;
  color: #0C2146;
  font-weight: 500;
}
.logo {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}

.logo__image-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(90deg, #2979FF 0%, #4C589E 100%);
}

.logo__image {
  margin-top: 8px;
}

.logo__text {
  font-family: "Red Hat Display";
  font-size: 36px;
  line-height: 36px;
  color: #0C2146;
  font-weight: 500;
}

body {
  background-color: #ffffff;
  font-family: "Inter";
  box-sizing: border-box;
  color: #5A5B6A;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  width: 1920px;
  margin: 0 auto;
}

.departments-and-goods-wrapper {
  margin: 0 auto;
  padding-left: 16px;
  margin-top: 16px;
  width: 1510px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.menu {
  padding: 0 12px;
  width: 1490px;
  margin: 0 auto;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.menu__item {
  position: relative;
  height: 56px;
  padding-top: 40px;
  padding-bottom: 4px;
}

.menu__item:hover .menu__link {
  color: #2979FF;
}

.menu__item:hover .menu__icon {
  fill: #2979FF;
}

.menu__icon {
  position: absolute;
  top: 18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  fill: #9696A0;
}

.menu__link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #787885;
  padding-top: 5px;
}
.nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}

.nav__list {
  width: 364px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  display: inline-block;
  padding-right: 35px;
}

.nav__item:hover {
  color: #2979FF;
}

.nav__link {
  transition: color 0.3s ease;
  text-decoration: none;
  font-family: "Inter";
  color: #5A5B6A;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.004em;
}

.nav__link:hover {
  color: #2979FF;
}

.nav__user {
  width: 282px;
}
.rating {
  width: 122px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: row;
          flex-wrap: row;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  padding: 6px 13px 4px 3px;
}

.rating__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #5e6366;
}

.rating__stars {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  width: 66px;
}

.rating__star {
  fill: #fb8200;
}
.related {
  margin-top: 40px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-flex-direction: row;
          flex-direction: row;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  -webkit-align-items: center;
          align-items: center;
}

.related__list {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  margin-left: 9px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  list-style: none;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  width: 774px;
  height: 32px;
}

.related__item {
  color: #4a4b57;
  background-color: #EDEDF0;
  padding: 6px 12px;
  border-radius: 99px;
  cursor: pointer;
}
.search-form {
  position: relative;
  width: 1030px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-direction: row;
          flex-direction: row;
}

.search-form::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 15px;
  background-image: url("../img/icons/icons.svg#search");
  background-repeat: no-repeat;
  background-position: center;
}

.search-form__field {
  transition: all 0.3s ease;
  width: 667px;
  height: 48px;
  border-radius: 99px;
  background-color: #EDEDF0;
  color: #0C2146;
  padding-left: 45px;
  padding-right: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 158%;
  outline: none;
}

.search-form__field:hover {
  opacity: 0.75;
}

.search-form__field:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.search-form__hint {
  margin-left: 30px;
  font-size: 20px;
  font-family: "Inter";
  line-height: 158%;
  letter-spacing: 0.0075em;
  color: #2264D1;
}

.search-form__field-close {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 635px;
  top: 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-form__field-close--show {
  cursor: pointer;
  background-image: url("../img/icons/icons.svg#clear");
}
.show-options {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.show-options label {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.show-options__wrapper {
  height: 36px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  border-radius: 4px;
  background-color: #EBF2FF;
}

.show-options__wrapper--filter {
  width: 255px;
}

.show-options__wrapper--filter label {
  width: 85px;
}

.show-options__wrapper--view {
  width: 136px;
}

.show-options__wrapper--view label {
  width: 68px;
}

.show-options__radio {
  position: relative;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 36px;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  color: #5A5B6A;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}

.show-options__wrapper input[type='radio']:checked + .show-options__radio {
  color: #2264D1;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
}

.show-options__icon {
  fill: #787885;
}

.show-options__wrapper--view input[type='radio']:checked ~ .show-options__radio svg {
  fill: #2979FF;
}
@charset "UTF-8";

.test {
  margin: 0 auto;
  width: 1400px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(100px, 200px));
  /* 3 столбца */
  -webkit-align-items: center;
          align-items: center;
}

.test__grid {
  border: 1px solid blue;
  color: white;
  font-size: 50px;
  padding: 30px 10px;
  background: green;
  text-align: center;
}

.test__grid--1 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.caret {
  position: absolute;
  top: 14px;
  left: -20px;
  width: 12px;
  height: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  background-image: url("./../img/icons/icons.svg#caret");
  background-repeat: no-repeat;
  background-size: contain;
}
.user {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
}

.user__items-quantity {
  display: none;
}

.user__items-quantity--show {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  top: 0;
  right: 68px;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #F44336;
  color: #ffffff;
  font-family: "Quicksand";
  font-weight: 700;
  size: 14px;
  line-height: 17px;
  border-radius: 50%;
}

.user__avatar {
  margin-left: 15px;
  border-radius: 50%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}