@mixin card-ticker($color, $bgcolor, $text) {
  position: absolute;
  content: $text;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $color;
  background-color: $bgcolor;
  right: 0;
  top: 0;
  width: 70px;
  height: 24px;
  text-align: center;
  padding-top: 4px;
}

@mixin card-button() {
  background-color: #fff;
  border: 1px solid rgba(108, 124, 247, 0.5);
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgb(221, 212, 243);
  }

  &:focus {
    box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2),
      0px 4px 8px rgba(41, 121, 255, 0.2);
      background-color: rgb(228, 224, 255);
      
  }
}
