@import "_mixins.scss";
@import "variables.scss";

.basket {
  position: relative;
  background-color: #fff;
  width: 800px;
  height: 400px;
  padding-top: 20px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid rgba(47, 39, 119, 0.7);
  display: flex;
  flex-direction: column;
  z-index: 5;

  &__caption {
    margin: 0;
    padding: 0;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__close-button {
    position: absolute;
    padding: 0;
    @include card-button;
    width: 40px;
    height: 40px;
    top: -23px;
    right: -23px;
    padding: 9px 12px;
  }

  &__list {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    padding: 10px 10px 10px 10px;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #19191d;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    flex: 1 1 auto;
  }

  &__cart-item {
    margin: 0 auto;
    margin-top: 20px;
  }

  &__footer {
    margin: 0;
    padding: 0;
    font-size: 24px;
    min-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__total-price {
    color: #210e4e;
    font-weight: 700;
  }
}

@media (max-width: $tablet-width) {
  .basket {
    width: 500px;
    height: 400px;
  }
}

@media (max-width: 550px) {
  .basket {
    width: 300px;
    max-height: calc(100vh - 100px);

    &__close-button {
      top: -15px;
      right: -10px;
    }
  }
}
