@import "variables.scss";

.cards {
  display: flex;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 259px);
    grid-template-rows: repeat(4, 472px);
    grid-row-gap: 16px;
    grid-column-gap: 10px;
  }
  
}

@media(max-width: 1720px) {
  .cards {
    justify-content: center;
    &__list {
      grid-gap: 10px;
      grid-template-columns: repeat(3, 259px);
      
    }
  }
}

@media(max-width: 1200px) {
  .cards {
    justify-content: start;
    &__list {
      grid-template-columns: repeat(2, 259px);
      margin-top: 30px;
      grid-gap: 50px;
    }
  }
}

@media(max-width: $tablet-width) {
  .cards {
    &__list {
      grid-gap: 100px;
    }
  }
}

@media(max-width: 620px) {
  .cards {
    &__list {
      grid-gap: 5px;
    }
  }
}

@media(max-width: 560px) {
  .cards {
    &__list {
      width: 100%;
      grid-template-columns: repeat(1,1fr);
      align-content: center;
      justify-items: center;
      grid-gap: 5px;
    }
  }
}