.condition-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__info {
    position: absolute;
    left: 12px;
    top: -9px;
    padding-left: 2px;
    padding-right: 3px;
    z-index: 2;
    background-color: #fff;
    color: #787885;
    text-transform: uppercase;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 20px), calc(100% - 5px) 100%,0 100%,0 0);
  }

  &__field {
    display: inline-block;
    position: relative;
    padding: 1px 6px 1px 1px;
    border: 1px solid #5A5B6A;
    border-radius: 4px;

    & select {
      color: #787885;
      &:hover {
        cursor: pointer;
      }
    }

    &:hover select {
      color: #19191D;
    }

    &:hover {
      border: 1px solid #19191D;
    }
    &--usability {
      width: 136px;
    }

    &--quality {
      width: 112px;
    }

    &--delivery {
      width: 152px;
    }
    
    & .condition-list__menu-use {
      color: #787885;
    }

    &:hover .condition-list__menu-use {
      color: #19191D;

    }

  

    &::after {
      font-size: 10px;
      transform: scaleX(1.6);
      position: absolute;
      content: "\25BC";
      color: #787885;
      right: 15px;
      top: 12px;
    }

    &:hover.condition-list__field::after {
      color: #19191D;
    }
  }

  &__menu {
    position: relative;
    z-index: 2;
    background-color: transparent;
    padding: 6px 30px 6px 11px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
  }
}

@media (max-width: 450px) {
  .condition-list {
    flex-direction: column;
   
    &__field {
      margin-bottom: 10px;
    }

    &__field:last-child {
      margin-bottom: 0;
     
    }
  }

}