.header {
  width: 1920px;
  height: 68px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: baseline;

  &__logo {
    width: 174px; 
  }

  &__nav {
    width: 1732px;
    margin-left: 42px;
  }
}