@import "variables.scss";

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  &__image-wrapper {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #2979ff 0%, #4c589e 100%);
  }

  &__image {
    margin-top: 8px;
  }

  &__text {
    font-family: "Red Hat Display";
    font-size: 36px;
    line-height: 36px;
    color: #0c2146;
    font-weight: 500;
  }
}

@media (max-width: $tablet-width) and (min-width: $mobile-width) {
  .logo {
    &__image-wrapper {
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
    }

    &__text {
      font-family: "Red Hat Display";
      font-size: 24px;
      line-height: 24px;
      color: #0c2146;
      font-weight: 500;
    }
  }
}

@media (max-width: 450px) {
  .logo {
    width: 50px;
    &__text {
      display: none;
    }
  }
}
