
@import "logo.scss";
@import "variables.scss";

body {
  background-color: #ffffff;
  font-family: $fontFamily;
  box-sizing: border-box;
  color: #5A5B6A;
}

*,*::after,*::before {
	box-sizing: inherit;
}


.container {
  width: 1920px;
  margin: 0 auto;
}
