
@import "logo.scss";
@import "variables.scss";

body {
  
  background-color: #ffffff;
  font-family: $fontFamily;
  box-sizing: border-box;
  color: #5A5B6A;
}

*,*::after,*::before {
  transition: all 0.15s ease-in;
	box-sizing: inherit;
}

.container {
  width: 1920px;
  margin: 0 auto;
}


.departments-and-goods-wrapper {
  margin: 0 auto;
  padding-left: 16px;
  margin-top: 16px;
  max-width: 1480px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: $notebook-width) {
  .container {
    width: auto;
    max-width: 1480px;
  }
  .departments-and-goods-wrapper {
    max-width: 1300px;
  }
}


@media (max-width: $tablet-width) {
  .container {
    max-width: 960px;
  }
}