@import "variables.scss";

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__list {
    max-width: 364px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: inline-block;
    padding-right: 35px;
    &:hover {
      color: $hoverColor;;
    }
  }

  &__link {
    transition: color 0.3s ease;
    text-decoration: none;
    font-family: "Inter";
    color: #5A5B6A;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.004em;
    &:hover {
      color: $hoverColor;
    }
  }

  &__menu-button {
    display: none;
  }

  &__search {
    display: flex;
    max-width: 1030px;
  }
}

@media(max-width: $notebook-width) {
  .nav {
    justify-content: space-between;
      
    &__list {
      min-width: 180px;
    }

    &__item {
      padding-right: 10px;
    }

    &__search {
      flex: 1 1 800px;
      margin-right: 20px;
    }

    &__link {
      font-size: 14px;
    }
  }
}


@media(max-width: $tablet-width) {
  .nav {
    &__list {
      min-width: 180px;
    }
    &__link {
      font-size: 12px;
    }

    &__item {
      padding-right: 20px;
    }
  
    &__search {
      flex: 1 1 600px;
    }
  }
}

@media(max-width: $mobile-width) {
  .nav {
    display: block;
    position: absolute;
    width: 90%;
    margin-right: 5px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
    z-index: 5;

    &__list {
      display: none;
      min-width: 100%;
  
      background-color: #fff;
    
    }
    &__link {
      font-size: 18px;
    }

    &__item {
      padding: 0;
      display: block;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      cursor: pointer;
      &:active {
        background-color: $activeMenuColor;
      }
    }
  
    &__user {
      width: 190px;
    }

    &__search {
      display: none;
      margin: 0 auto;
    }

    &__menu-button {
      background-color: transparent;
      border: none;
      z-index: 5;
      display: block;
      position: absolute;
      width: 30px;
      height: 18px;
      right: 2%;
      top: -40px;
      cursor: pointer;
      

      &::before, &::after, & span {
        position: absolute;
        right: 0;
        height: 2px;
        width: 20px;
        transition: all 0.3s ease 0s;
        background-color: #4C589E;
      }

      &::before, &::after {
        content: "";
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      & span {
        top: 50%;
        transform: scale(1);
        transform:translate(0, -50%);
      }
    }
  }

  .nav._open {
    .nav__list {
      background-color: #fff;
      display: block;
    }

    & .nav__menu-button {
      & span {
        transform: scale(0);
      }
      &::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
      }

      &::after {
        top: 50%;
        transform: rotate(45deg) translate(0, -50%);
      }
    }

    .nav__search {
      display: flex;
    }
  }
}