@import "variables.scss";

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__list {
    max-width: 364px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: inline-block;
    padding-right: 35px;
    &:hover {
      color: $hoverColor;;
    }
  }

  &__link {
    transition: color 0.3s ease;
    text-decoration: none;
    font-family: "Inter";
    color: #5A5B6A;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.004em;
    &:hover {
      color: $hoverColor;
    }
  }

  &__user {
    min-width: 282px;
  }

  &__search {
    max-width: 1030px;
  }
}

@media(max-width: $notebook-width) {
  .nav {
    justify-content: space-between;
      
    &__list {
      min-width: 180px;
    }

    &__item {
      padding-right: 10px;
    }

    &__search {
      flex: 1 1 800px;
      margin-right: 20px;
    }

    &__link {
      font-size: 14px;
    }
  }
}


@media(max-width: $tablet-width) {
  .nav {
    &__list {
      min-width: 180px;
    }
    &__link {
      font-size: 12px;
    }

    &__item {
      padding-right: 20px;
    }
  
    &__user {
      width: 190px;
    }

    &__search {
      flex: 1 1 600px;
    }

  
  }
}