.search-form {
  position: relative;
  width: 1030px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    top: 15px;
    background-image: url("../img/icons/icons.svg#search");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__input {
    transition: all 0.3s ease;
    width: 667px;
    height: 48px;
    border-radius: 99px;
    background-color: #ededf0;
    color: #0c2146;
    padding-left: 45px;
    padding-right: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 158%;
    outline: none;
    &:hover {
      opacity: 0.75;
    }
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  &__hint {
    margin-left: 30px;
    font-size: 20px;
    font-family: "Inter";
    line-height: 158%;
    letter-spacing: 0.0075em;
    color: #2264d1;
  }

  &__modal-wrapper {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    &--hidden {
      display: none;
    }
  }

  &__modal {
    background-color: #fff;
    width: 400px;
    height: 200px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    border: 10px solid rgba(47, 39, 119, 0.7)
  }

  &__subject {
    display: block;
    margin-top: 10px;
    font-size: 21px;
    color: green; 
  }

  &__loader {
    margin-top: 20px;
  }
}
