@import "variables.scss";

.search-form {
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  &__search-button {
    cursor: pointer;
    border: none;
    content: "";
    position: absolute;
    z-index: 3;
    width: 18px;
    height: 18px;
    left: 15px;
    top: 15px;
    background-image: url("../img/icons/icons.svg#search");
    background-repeat: no-repeat;
    background-position: center;
    &--text {
      display: none;
    }
  }


  &__input {
    transition: all 0.3s ease;
    width: 667px;
    height: 48px;
    border-radius: 99px;
    background-color: #ededf0;
    color: #0c2146;
    padding-left: 45px;
    padding-right: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 158%;
    outline: none;
    &:hover {
      opacity: 0.75;
    }
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  &__hint {
    margin-left: 20px;
    font-size: 20px;
    font-family: "Inter";
    line-height: 158%;
    letter-spacing: 0.0075em;
    color: #2264d1;
    @media (max-width: 1110px) {
      display: none;
    }
  }

  &__modal-wrapper {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    &--hidden {
      display: none;
    }
  }

  &__modal {
    background-color: #fff;
    width: 400px;
    height: 200px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    border: 10px solid rgba(47, 39, 119, 0.7);
  }

  &__subject {
    display: block;
    margin-top: 10px;
    font-size: 21px;
    color: green;
  }

  &__loader {
    margin-top: 20px;
  }
}

@media (max-width: $notebook-width) {
  .search-form {
    &__input {
      width: 100%;
      padding-left: 40px;
      font-size: 16px;
    }

    &__hint {
      font-size: 14px;
      margin-left: 10px;
    }
  }
}

@media (max-width: $mobile-width) {
  .search-form {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    min-height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    background-color: #fff;
    z-index: 7;
    &::after {
      left: 20px;
    }
    &__input {
     
      background-color: #ffffff;
      color: #15428f;
      display: none;
      outline: none;
      width: 90%;
      &:hover {
        opacity: 0.75;
      }
      &:focus {
        border: 1px solid rgba(0, 0, 0, 0.5);
      }
    }

    &__search-button {

      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background-position-x: 10%;
      background-size: 20px 20px;
      background-color: #fff;
      &--text {
        display: block; 
        font-family: "Inter";
        color: #5A5B6A;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.004em;  
      }
      &:active {
        background-color: $activeMenuColor;
      }
    }
  }

  .search-form._active .search-form__search-button  {
   left: 10%;
   top: 5px;
   width: 20px;
   background-color: transparent;
   &--text {
     display: none;
   }
  }

  .search-form._active  {
      padding-left: 20px;
      padding-right: 10px;
    }


  .search-form._active .search-form__input   {
      display: block;
      margin: 0 auto;
    }
}


@media (max-width: 565px) {
  .search-form._active .search-form__search-button  {
    left: 13%;
  }
}
