@import "variables.scss";

.search-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    top: 15px;
    background-image: url("../img/icons/icons.svg#search");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__search-button--mobile {
    display: none;
  }

  &__input {
    transition: all 0.3s ease;
    width: 667px;
    height: 48px;
    border-radius: 99px;
    background-color: #ededf0;
    color: #0c2146;
    padding-left: 45px;
    padding-right: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 158%;
    outline: none;
    &:hover {
      opacity: 0.75;
    }
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  &__hint {
    margin-left: 30px;
    font-size: 20px;
    font-family: "Inter";
    line-height: 158%;
    letter-spacing: 0.0075em;
    color: #2264d1;
    @media (max-width: 1110px) {
      display: none;
    }
  }

  &__modal-wrapper {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    &--hidden {
      display: none;
    }
  }

  &__modal {
    background-color: #fff;
    width: 400px;
    height: 200px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    border: 10px solid rgba(47, 39, 119, 0.7);
  }

  &__subject {
    display: block;
    margin-top: 10px;
    font-size: 21px;
    color: green;
  }

  &__loader {
    margin-top: 20px;
  }
}

@media (max-width: $notebook-width) {
  .search-form {
    &__input {
      width: 100%;
      padding-left: 40px;
      font-size: 16px;
    }

    &__hint {
      font-size: 14px;
      margin-left: 10px;
    }
  }
}

@media (max-width: $mobile-width) {
  .search-form {
    background-color: #fff;
    z-index: 5;
    &::after {
      left: 25%;
    }
    &__input {
      background-color: #ffffff;
      color: #15428f;
      display: none;
      outline: none;
      &:hover {
        opacity: 0.75;
      }
      &:focus {
        border: 1px solid rgba(0, 0, 0, 0.5);
      }
    }

    &__search-button--mobile {
      display: block;
      margin: 0 auto;
      transition: color 0.3s ease;
      text-decoration: none;
      font-family: "Inter";
      color: #5a5b6a;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.004em;
      border: none;
      background-color: transparent;

      &:active {
        background-color: $activeMenuColor;
      }
    }
  }

  .search-form._active::after   {
    display: none;
  }

  .search-form._active .search-form__input   {
      display: block;
    }

}
