@import "variables.scss";

.menu {
  padding: 0 12px;
  width: 1490px;
  margin: 0 auto;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    height: 56px;
    padding-top: 40px;
    padding-bottom: 4px;
    &:hover .menu__link{
      color: $hoverColor;
    }

    &:hover .menu__icon {
      fill: $hoverColor;
    }
  }

  &__icon  {
    position: absolute;
    top:18px; 
    left: 50%;
    transform: translateX(-50%);
    fill: #9696A0;
 
}

  &__link {
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #787885;
    padding-top: 5px;

  }
}
